RewriteEngine On
RewriteCond %{REQUEST_URI} index\.php
RewriteRule ^(.*)index\.php$ /$1 [R=301,L]
Redirect 301 /veterinarian-list/spay-neuter-services /
Redirect 301 /veterinarian-list/how-choose-rabbit-experienced-vet /rabbitcare.php#choosevet
Redirect 301 /veterinarian-list/san-diego-riverside-area-vets /rabbitcare.php#vetlist
Redirect 301 /veterinarian-list/emergency-after-hours-vet-clinics /health.php#emergency
Redirect 301 /veterinarian-list/organizations-help-emergency-medical-care /
Redirect 301 /preparing-rabbit-companion/consider-you-adopt /prepare.php#consider
Redirect 301 /preparing-rabbit-companion/are-you-right-rabbit /preparing-rabbit-companion/are-you-right-rabbit
Redirect 301 /preparing-rabbit-companion/what-are-rabbits-really /prepare.php#reallylike
Redirect 301 /preparing-rabbit-companion/raising-rabbit-friendly-child /prepare.php#child
Redirect 301 /rabbit-care/rabbit-house-now-what /prepare.php#nowwhat
Redirect 301 /preparing-rabbit-companion/supplies-youll-need /
Redirect 301 /preparing-rabbit-companion/free-run-house-rabbits /
Redirect 301 /preparing-rabbit-companion/bunny-proofing-your-home-yard /prepare.php#bunnyproof
Redirect 301 /diet/rabbit-food-pyramid /diet.php#pyramid
Redirect 301 /diet/hay-basis-your-rabbits-diet /
Redirect 301 /diet/types-hays-grasses /diet.php#hay
Redirect 301 /diet/fresh-greens-part-your-rabbits-diet /diet.php#greens
Redirect 301 /diet/place-pellets-rabbits-diet /diet.php#pellets
Redirect 301 /diet/good-and-bad-treats /diet.php#treats
Redirect 301 /diet/rabbit-nutrition-veterinarian-article /diet.php#nutrition
Redirect 301 /housing/flooring-tips-your-rabbits-home /housing.php#flooring
Redirect 301 /housing/x-pen-living-can-improve-your-rabbits-life /housing.php#xpen
Redirect 301 /housing/creative-cage-ideas /housing.php#creativecage
Redirect 301 /litter-box-training/tips-litter-box-training-your-rabbit /lb.php#tips
Redirect 301 /litter-box-training/litterbox-setup-success-0 /lb.php#setup
Redirect 301 /litter-box-training/litter-box-designs-special-needs /lb.php#specialneeds
Redirect 301 /litter-box-training/safe-litter-box-materials /lb.php#safematerials
Redirect 301 /health/your-rabbit-sick /health.php#sick
Redirect 301 /health/scoop-poop /health.php#poop
Redirect 301 /health/rabbit-gi-physiology-and-nutrition /health.php#gi
Redirect 301 /health/get-your-rabbit-spayed-or-neutered /health.php#spay
Redirect 301 /behavior/rabbit-digs /behavior.php#digs
Redirect 301 /behavior/getting-know-thumper /behavior.php#thumper
Redirect 301 /behavior/keeping-company-rabbits /behavior.php#keepingcompany
Redirect 301 /behavior/why-does-my-rabbit-do /behavior.php#whydoes
Redirect 301 /adoption/adopter-profile /adopterprofile.html
Redirect 301 /adoption/smart-way-choose-rabbit /adoption.php#smartway
Redirect 301 /adoption/sponsor-rescued-rabbit /donate.php#sponsor
Redirect 301 /adoption/adoption-center /adoption.php#adoptioncenter
Redirect 301 /adoption/rehoming-your-rabbit /adoption.php#rehoming
Redirect 301 /guidelines-adoption/fees-guidelines-and-more /adoption.php#guidelines
Redirect 301 /adoption-process/fees-and-adopter-profile-form /adoption.php#fees
Redirect 301 /you-adopt/did-you-know /beforeyouadopt.php#didyouknow
Redirect 301 /you-adopt/keeping-company-rabbits /beforeyouadopt.php#keepingcompany
Redirect 301 /you-adopt/things-think-about-you-adopt-0 /prepare.php#consider
Redirect 301 /you-adopt/are-you-right-kind-person-live-rabbit-0 /beforeyouadopt.php#rightforrabbit
Redirect 301 /you-adopt/finding-right-rabbit /beforeyouadopt.php#findingtherightrabbit
Redirect 301 /you-adopt/looking-past-pink-eyes /beforeyouadopt.php#redeyes
Redirect 301 /you-adopt/dont-become-statistic /beforeyouadopt.php#statistic
Redirect 301 /you-adopt/rabbit-classroom /beforeyouadopt.php#classroom
Redirect 301 /companion-your-rabbit/additional-bonding-resources /companion.php#bondingresources
Redirect 301 /companion-your-rabbit/bunnies-teaching-bunnies /companion.php#bunniesteaching
Redirect 301 /companion-your-rabbit/fast-cars-and-speedy-bunny-bonding /companion.php#fastcars
Redirect 301 /companion-your-rabbit/bonding-what-expect-and-what-do /companion.php#whattoexpect
Redirect 301 /companion-your-rabbit/bunny-bonding-basics /companion.php#bondingbasics
Redirect 301 /companion-your-rabbit/when-your-rabbit-needs-friend /companion.php#needsfriend
Redirect 301 /services/bunny-boarding /services.php#boarding
Redirect 301 /services/hrs-bunny-supply-store-kearny-mesa /services.php#store
Redirect 301 /services/services-rabbit-community /services.php#grooming
Redirect 301 /services/hay-sales-throughout-san-diego-county /services.php#haysales
Redirect 301 /services/online-resources-supplies-or-services /services.php#onlineresources
Redirect 301 /services/sdhrs-designs-cafe-press http://www.cafepress.com/sdhrs
Redirect 301 /volunteer/volunteer-application /volunteer.php#application
Redirect 301 /volunteer/fostering-rabbits-sdhrs /volunteer.php#foster
Redirect 301 /volunteer/available-volunteer-positions /volunteer.php#positions
Redirect 301 /volunteer/vicnet-volunteer-sign https://www.volgistics.com/ex/portal.dll/?FROM=161537
Redirect 301 /donations/sponsor-rescued-rabbit /donate.php#sponsor
Redirect 301 /donations/donate-online-through-firstgivingorg /donate.php#firstgiving
Redirect 301 /donations/donate-sdhrs-bunny-supply-store /donate.php#store
Redirect 301 /donations/matching-gifts-gifts-kind /
Redirect 301 /donations/planned-giving-programs /donate.php#planned
Redirect 301 /donations/shop-support-sdhrs /donate.php#shop
Redirect 301 /about-us/who-we-are-and-what-we-do /aboutus.php#whoweare
Redirect 301 /about-us/hrs-philosophy /aboutus.php#philosophy
Redirect 301 /about-us/become-member /aboutus.php#member
Redirect 301 /contact /aboutus.php#contact
